---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?keyID=4669404&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 22:12:35</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Blondie Blond\" characterID=\"93051887\" corporationName=\"Carl
        Malus Corporation\" corporationID=\"98279136\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n      <row name=\"Adrian Dent\" characterID=\"810699209\"
        corporationName=\"Caldari Provisions\" corporationID=\"1000009\" allianceID=\"0\"
        allianceName=\"\" factionID=\"0\" factionName=\"\" />\r\n    </rowset>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-12 22:55:52</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 22:12:35 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 22:12:35</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Quint Slade\" characterID=\"95512059\" corporationName=\"Imperial
        Academy\" corporationID=\"1000166\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-12
        23:07:41</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 22:12:36 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/char/AccountBalance.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 22:12:36</currentTime>\r\n  <result>\r\n    <rowset
        name=\"accounts\" key=\"accountID\" columns=\"accountID,accountKey,balance\">\r\n
        \     <row accountID=\"69081883\" accountKey=\"1000\" balance=\"0.01\" />\r\n
        \   </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-12 22:27:36</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 22:12:36 GMT
recorded_with: VCR 2.9.3
