---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?keyID=4669404&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-14 07:05:10</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Blondie Blond\" characterID=\"93051887\" corporationName=\"Carl
        Malus Corporation\" corporationID=\"98279136\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n      <row name=\"Adrian Dent\" characterID=\"810699209\"
        corporationName=\"Caldari Provisions\" corporationID=\"1000009\" allianceID=\"0\"
        allianceName=\"\" factionID=\"0\" factionName=\"\" />\r\n    </rowset>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-14 07:19:35</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 14 Sep 2015 07:05:10 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-14 07:05:11</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Quint Slade\" characterID=\"95512059\" corporationName=\"Imperial
        Academy\" corporationID=\"1000166\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-14
        07:56:34</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 14 Sep 2015 07:05:11 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/char/WalletJournal.xml.aspx?characterID=810699209&keyID=4669404&rowCount=1&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-14 07:05:11</currentTime>\r\n  <result>\r\n    <rowset
        name=\"transactions\" key=\"refID\" columns=\"date,refID,refTypeID,ownerName1,ownerID1,ownerName2,ownerID2,argName1,argID1,amount,balance,reason,taxReceiverID,taxAmount,owner1TypeID,owner2TypeID\">\r\n
        \     <row date=\"2015-09-12 21:28:29\" refID=\"11650126182\" refTypeID=\"42\"
        ownerName1=\"Adrian Dent\" ownerID1=\"810699209\" ownerName2=\"\" ownerID2=\"0\"
        argName1=\"\" argID1=\"0\" amount=\"-6099996.94\" balance=\"14125001916.75\"
        reason=\"\" taxReceiverID=\"\" taxAmount=\"\" owner1TypeID=\"2\" owner2TypeID=\"1375\"
        />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-14 07:14:08</cachedUntil>\r\n</eveapi>"
  recorded_at: Mon, 14 Sep 2015 07:05:11 GMT
recorded_with: VCR 2.9.3
