---
http_interactions:
- request:
    method: get
    uri: https://public-crest.eveonline.com/alliances/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.ccp.eve.AllianceCollection-v1+json; charset=utf-8
      Access-Control:
      - allow <*>
    body:
      encoding: UTF-8
      string: '{"totalCount_str": "3082", "pageCount": 13, "items": [{"href": {"id_str":
        "99000006", "shortName": "666", "href": "https://public-crest.eveonline.com/alliances/99000006/",
        "id": 99000006, "name": "Everto Rex Regis"}}, {"href": {"id_str": "99000008",
        "shortName": "PILS.", "href": "https://public-crest.eveonline.com/alliances/99000008/",
        "id": 99000008, "name": "People in Lousy Ships"}}, {"href": {"id_str": "99000020",
        "shortName": "COTP", "href": "https://public-crest.eveonline.com/alliances/99000020/",
        "id": 99000020, "name": "Covenant of the Phoenix Alliance"}}, {"href": {"id_str":
        "99000025", "shortName": "LE", "href": "https://public-crest.eveo[...]
- request:
    method: get
    uri: https://public-crest.eveonline.com/alliances/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.ccp.eve.AllianceCollection-v1+json; charset=utf-8
      Access-Control:
      - allow <*>
    body:
      encoding: UTF-8
      string: '{"totalCount_str": "3082", "pageCount": 13, "items": [{"href": {"id_str":
        "99000872", [...]
[...]
