---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailingLists.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 00:22:03</currentTime>\r\n  <result>\r\n    <rowset
        name=\"mailingLists\" key=\"listID\" columns=\"listID,displayName\" />\r\n
        \ </result>\r\n  <cachedUntil>2015-09-12 05:55:20</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 00:22:03 GMT
recorded_with: VCR 2.9.3
