---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 00:22:04</currentTime>\r\n  <result>\r\n    <characterID>95512059</characterID>\r\n
        \   <name>Quint Slade</name>\r\n    <homeStationID>60014629</homeStationID>\r\n
        \   <DoB>2015-04-09 20:37:05</DoB>\r\n    <race>Amarr</race>\r\n    <bloodLineID>13</bloodLineID>\r\n
        \   <bloodLine>Khanid</bloodLine>\r\n    <ancestryID>37</ancestryID>\r\n    <ancestry>Cyber
        Knights</ancestry>\r\n    <gender>Male</gender>\r\n    <corporationName>Imperial
        Academy</corporationName>\r\n    <corporationID>1000166</corporationID>\r\n
        \   <cloneTypeID>164</cloneTypeID>\r\n    <cloneName>Clone Grade Alpha</cloneName>\r\n
        \   <cloneSkillPoints>0</cloneSkillPoints>\r\n    <freeSkillPoints>0</freeSkillPoints>\r\n
        \   <freeRespecs>2</freeRespecs>\r\n    <cloneJumpDate>0001-01-01 00:00:00</cloneJumpDate>\r\n
        \   <lastRespecDate>0001-01-01 00:00:00</lastRespecDate>\r\n    <lastTimedRespec>0001-01-01
        00:00:00</lastTimedRespec>\r\n    <remoteStationDate>0001-01-01 00:00:00</remoteStationDate>\r\n
        \   <rowset name=\"jumpClones\" key=\"jumpCloneID\" columns=\"jumpCloneID,typeID,locationID,cloneName\"
        />\r\n    <rowset name=\"jumpCloneImplants\" key=\"jumpCloneID\" columns=\"jumpCloneID,typeID,typeName\"
        />\r\n    <jumpActivation>0001-01-01 00:00:00</jumpActivation>\r\n    <jumpFatigue>0001-01-01
        00:00:00</jumpFatigue>\r\n    <jumpLastUpdate>0001-01-01 00:00:00</jumpLastUpdate>\r\n
        \   <balance>0.01</balance>\r\n    <rowset name=\"implants\" key=\"typeID\"
        columns=\"typeID,typeName\">\r\n      <row typeID=\"9956\" typeName=\"Social
        Adaptation Chip - Basic\" />\r\n      <row typeID=\"10221\" typeName=\"Cybernetic
        Subprocessor - Standard\" />\r\n      <row typeID=\"10208\" typeName=\"Memory
        Augmentation - Standard\" />\r\n      <row typeID=\"10212\" typeName=\"Neural
        Boost - Standard\" />\r\n      <row typeID=\"10216\" typeName=\"Ocular Filter
        - Standard\" />\r\n    </rowset>\r\n    <attributes>\r\n      <intelligence>20</intelligence>\r\n
        \     <memory>20</memory>\r\n      <charisma>19</charisma>\r\n      <perception>20</perception>\r\n
        \     <willpower>20</willpower>\r\n    </attributes>\r\n    <rowset name=\"skills\"
        key=\"typeID\" columns=\"typeID,skillpoints,level,published\">\r\n      <row
        typeID=\"3300\" skillpoints=\"1415\" level=\"2\" published=\"1\" />\r\n      <row
        typeID=\"3303\" skillpoints=\"8000\" level=\"3\" published=\"1\" />\r\n      <row
        typeID=\"3327\" skillpoints=\"256000\" level=\"5\" published=\"1\" />\r\n
        \     <row typeID=\"3331\" skillpoints=\"3603\" level=\"2\" published=\"1\"
  [...]
