---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/ApiKeyInfo.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 00:21:57</currentTime>\r\n  <result>\r\n    <key
        accessMask=\"268435455\" type=\"Account\" expires=\"\">\r\n      <rowset name=\"characters\"
        key=\"characterID\" columns=\"characterID,characterName,corporationID,corporationName,allianceID,allianceName,factionID,factionName\">\r\n
        \       <row characterID=\"95512059\" characterName=\"Quint Slade\" corporationID=\"1000166\"
        corporationName=\"Imperial Academy\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n      </rowset>\r\n    </key>\r\n  </result>\r\n  <cachedUntil>2015-09-12
        00:26:45</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 00:21:57 GMT
recorded_with: VCR 2.9.3
