---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/UpcomingCalendarEvents.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 00:21:59</currentTime>\r\n  <result>\r\n    <rowset
        name=\"upcomingEvents\" key=\"eventID\" columns=\"eventID,ownerID,ownerName,eventDate,eventTitle,duration,importance,response,eventText,ownerTypeID\">\r\n
        \     <row eventID=\"1209657\" ownerID=\"1\" ownerName=\"EVE System\" eventDate=\"2015-09-11
        11:00:00\" eventTitle=\"Extended downtime from 11:00 to 12:00\" duration=\"60\"
        importance=\"0\" response=\"Undecided\" eventText=\"The daily downtime on
        Tranquility will be extended from 11:00 to 12:00 UTC. &#xD;&#xA;&#xD;&#xA;Further
        information about this extended downtime can be found in &lt;a href=&quot;http://community.eveonline.com/news/news-channels/eve-online-news/extended-d[...]
