---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?keyID=4669404&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 22:11:34</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Blondie Blond\" characterID=\"93051887\" corporationName=\"Carl
        Malus Corporation\" corporationID=\"98279136\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n      <row name=\"Adrian Dent\" characterID=\"810699209\"
        corporationName=\"Caldari Provisions\" corporationID=\"1000009\" allianceID=\"0\"
        allianceName=\"\" factionID=\"0\" factionName=\"\" />\r\n    </rowset>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-12 22:55:52</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 22:11:34 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-12 22:11:35</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Quint Slade\" characterID=\"95512059\" corporationName=\"Imperial
        Academy\" corporationID=\"1000166\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-12
        23:07:41</cachedUntil>\r\n</eveapi>"
  recorded_at: Sat, 12 Sep 2015 22:11:35 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/some/BsMethod.xml.aspx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html>\r\n    <head><script type=\"text/javascript\">window.NREUM||(NREUM={});NREUM.info
        = {\"beacon\":\"bam.nr-data.net\",\"errorBeacon\":\"bam.nr-data.net\",\"licenseKey\":\"4519cc3c6b\",\"applicationID\":\"2400733\",\"transactionName\":\"b1xaYEADDEoHBxVRX1YWa0BTFhdKJQsFXR8MCQw=\",\"queueTime\":1,\"applicationTime\":2,\"ttGuid\":\"910FBA5CC3E81705\",\"agent\":\"js-agent.newrelic.com/nr-686.min.js\"}</script><script
        type=\"text/javascript\">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function
        r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var
        o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if(\"function\"==typeof
        __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return
        r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a[...]
