---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?keyID=4669404&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-13 20:36:11</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Blondie Blond\" characterID=\"93051887\" corporationName=\"Carl
        Malus Corporation\" corporationID=\"98279136\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n      <row name=\"Adrian Dent\" characterID=\"810699209\"
        corporationName=\"Caldari Provisions\" corporationID=\"1000009\" allianceID=\"0\"
        allianceName=\"\" factionID=\"0\" factionName=\"\" />\r\n    </rowset>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-13 21:19:27</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 13 Sep 2015 20:36:06 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-13 20:36:12</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Quint Slade\" characterID=\"95512059\" corporationName=\"Imperial
        Academy\" corporationID=\"1000166\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-13
        21:23:58</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 13 Sep 2015 20:36:07 GMT
[...]
- request:
    method: get
    uri: https://public-crest.eveonline.com/alliances/1354830081/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.ccp.eve.Alliance-v1+json; charset=utf-8
      Content-Language:
      - en-US
      Access-Control:
      - allow <*>
    body:
      encoding: UTF-8
      string: '{"startDate": "2010-06-01T05:36:00", "corporationsCount": 372, "description":
        "<font size=\"12\" color=\"#bfffffff\">NULLSEC SPACE FOR RENT: <br><br>https://forums.eveonline.com/default.aspx?g=posts&amp;t=435240<br><br>Mandatory
        Zizek:<br><br>At the same time, there is the much more unsettling opposite
        idea of the domination of my screen persona over my \"real\" self. Our social
        identity, the person we assume to be in our social intercourse, is already
        a \"mask\" that involves the repression of our inadmissible impulses. But
        it is precisely in the conditions of \"just playing\" - when the rules regulating
        our \"real life\" exchanges are temporarily suspended - that we can permit
        ourselves to display these repressed attitudes. Take the proverbial impotent
        shy person who, while participating in a cyberspace interactive game, adopts
        the identity of an irresistible seducer or sadistic murderer. It is all too
        simple to say that this identity is just an imaginary escape from real-life
        impotence. The point is rather that, since he knows that the cyberspace interactive
        game is \"just a game,\" he can \"show his true self\" and do things he would
        never have done in real-life interactions. In the guise of a fiction, the
        truth about himself is articulated. The fact that I perceive my virtual self-image
        as mere play thus allows me to suspend the usual hindrances which prevent
        me from realising my \"dark half\" in real life. My electronic id is given
        wing.<br><br>Diplomatic contacts:<br><br></font><font size=\"12\" color=\"#ffffa600\"><loc><a
        href=\"showinfo:1379//722369372\">Draghka</loc>r</a><br><loc><a href=\"showinfo:1383//1045513061\">Cindare</a></loc><br><a
        href=\"showinfo:1376//1190578956\">H<loc>SG Bomber</a><br><a href=\"showinfo:1375//731151422\">Viktor
        Raybach</a><br><a href=\"showinfo:1375//91517808\">Samahiel sotken</a><br><a
        href=\"showinfo:1375//1080740644\">Ektony</a><br><a href=\"showinfo:1376//1234938555\">Kesper
        North</a><br><a href=\"showinfo:1377//91709320\">Mirana Bal''ari</a><br><a
        href=\"showinfo:1386//1243902442\">Rothana Haldane</a><br><a href=\"showinfo:1374//93624351\">Macgillicutty
        Smash</a><br><a href=\"showinfo:1379//91469732\">La Nidalee</a><br><a href=\"showinfo:1375//687246884\">Nina
        Blaze</a><br><a href=\"showinfo:1385//1687616923\">Merkelchen</a><br><a href=\"showinfo:1376//93784777\">Twizzlespark
        Celes</a><br><a href=\"showinfo:1379//185553036\">Rust Martialis</a><br><a
        href=\"showinfo:1378//862901395\">Sadus</a></loc><br><br></font><font size=\"12\"
        color=\"#bfffffff\">Head Diplomat: <br><br></font><font size=\"12\" color=\"#ffffa600\"><loc><a
        href=\"showinfo:1384//720191856\">Sion Kumitomo</a></loc></font>", "executorCorporation":
        {"name": "DJ''s Retirement Fund", "isNPC": false, "href": "https://public-crest.eveonline.com/corporations/1344654522/",
        "id_str": "1344654522", "logo": {"32x32": {"href": "http://imageserver.eveonline.com/Corporation/1344654522_32.png"},
        "64x64": {"href": "http://imageserver.eveonline.com/Corporation/1344654522_64.png"},
        "128x128": {"href": "http://imageserver.eveonline.com/Corporation/1344654522_128.png"},
        "256x256": {"href": "http://imageserver.eveonline.com/Corporation/1344654522_256.png"}},
        "id": 1344654522}, "primeHour_str": "2", "primeHour": 2, "deleted": false,
        "corporationsCount_str": "372", "creatorCorporation": {"name": "Effervescent
        Blue", "isNPC": false, "href": "https://public-crest.eveonline.com/corporations/459299583/",
        "id_str": "459299583", "logo": {"32x32": {"href": "http://imageserver.eveonline.com/Corporation/459299583_32.png"},
        "64x64": {"href": "http://imageserver.eveonline.com/Corporation/459299583_64.png"},
        "128x128": {"href": "http://imageserver.eveonline.com/Corporation/459299583_128.png"},
        "256x256": {"href": "http://imageserver.eveonline.com/Corporation/459299583_256.png"}},
        "id": 459299583}, "url": "http://www.goonfleet.com", "id_str": "1354830081",
        "creatorCharacter": {"name": "La Sinistra", "isNPC": false, "href": "https://public-crest.eveonline.com/characters/240070320/",
        "capsuleer": {"href": "https://public-crest.eveonline.com/characters/240070320/capsuleer/"},
        "portrait": {"32x32": {"href": "http://imageserver.eveonline.com/Character/240070320_32.jpg"},
        "64x64": {"href": "http://imageserver.eveonline.com/Character/240070320_64.jpg"},
        "128x128": {"href": "http://imageserver.eveonline.com/Character/240070320_128.jpg"},
        "256x256": {"href": "http://imageserver.eveonline.com/Character/240070320_256.jpg"}},
        "id": 240070320, "id_str": "240070320"}, "capitalSystem": {"id_str": "30002902",
        "href": "https://public-crest.eveonline.com/solarsystems/30002902/", "id":
        30002902, "name": "YA0-XJ"}, "corporations": [{"name": "Interstellar Haulage
        n Waste Removal", "isNPC": false, "href": "https://public-crest.eveonline.com/corporations/98002506/",
        "id_str": "98002506", "logo": {"32x32": {"href": "http://imageserver.eveonline.com/Corporation/98002506_32.png"},
        "64x64": {"href": "http://imageserver.eveonline.com/Corporation/98002506_64.png"},
        "128x128": {"href": "http://imageserver.eveonline.com/Corporation/98002506_128.png"},
        "256x256": {"href": "http://imageserver.e[...]
