---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?keyID=4669404&vCode=hushhush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-13 10:18:16</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Blondie Blond\" characterID=\"93051887\" corporationName=\"Carl
        Malus Corporation\" corporationID=\"98279136\" allianceID=\"0\" allianceName=\"\"
        factionID=\"0\" factionName=\"\" />\r\n      <row name=\"Adrian Dent\" characterID=\"810699209\"
        corporationName=\"Caldari Provisions\" corporationID=\"1000009\" allianceID=\"0\"
        allianceName=\"\" factionID=\"0\" factionName=\"\" />\r\n    </rowset>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-13 11:10:27</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 13 Sep 2015 10:18:16 GMT
[...]
- request:
    method: get
    uri: https://api.eveonline.com/account/Characters.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-13 10:18:17</currentTime>\r\n  <result>\r\n    <rowset
        name=\"characters\" key=\"characterID\" columns=\"name,characterID,corporationName,corporationID,allianceID,allianceName,factionID,factionName\">\r\n
        \     <row name=\"Quint Slade\" characterID=\"95512059\" corporationName=\"Imperial
        Academy\" corporationID=\"1000166\" allianceID=\"0\" allianceName=\"\" factionID=\"0\"
        factionName=\"\" />\r\n    </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-13
        11:15:17</cachedUntil>\r\n</eveapi>"
  recorded_at: Sun, 13 Sep 2015 10:18:17 GMT
[...]
- request:
    method: get
    uri: https://public-crest.eveonline.com/types/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.ccp.eve.ItemTypeCollection-v1+json; charset=utf-8
      Content-Language:
      - en-US
      Access-Control:
      - allow <*>
    body:
      encoding: UTF-8
      string: '{"totalCount_str": "24285", "pageCount": 25, "items": [{"href": "https://public-crest.eveonline.com/types/0/",
        "name": "#System"}, {"href": "https://public-crest.eveonline.com/types/2/",
        "name": "Corporation"}, {"href": "https://public-crest.eveonline.com/types/3/",
        "name": "Region"}, {"href": "https://public-crest.eveonline.com/types/4/",
        "name": "Constellation"}, {"href": "https://public-crest.eveonline.com/types/5/",
        "name": "Solar System"}, {"href": "https://public-crest.eveonline.com/types/6/",
        "name": "Sun G5 (Yellow)"}, {"href": "https://public-crest.eveonline.com/[...]
- request:
    method: get
    uri: https://public-crest.eveonline.com/types/?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.ccp.eve.ItemTypeCollection-v1+json; charset=utf-8
      Content-Language:
      - en-US
      Access-Control:
      - allow <*>
    body:
      encoding: UTF-8
      string: '{"totalCount_str": "24285", "pageCount": 25, "items": [{"hre[...]
[...]
