---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/WalletJournal.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-10 20:27:20</currentTime>\r\n  <result>\r\n    <rowset
        name=\"transactions\" key=\"refID\" columns=\"date,refID,refTypeID,ownerName1,ownerID1,ownerName2,ownerID2,argName1,argID1,amount,balance,reason,taxReceiverID,taxAmount,owner1TypeID,owner2TypeID\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-10 20:54:20</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 10 Sep 2015 20:27:20 GMT
recorded_with: VCR 2.9.3
