---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Contracts.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-10 23:07:03</currentTime>\r\n  <result>\r\n    <rowset
        name=\"contractList\" key=\"contractID\" columns=\"contractID,issuerID,issuerCorpID,assigneeID,acceptorID,startStationID,endStationID,type,status,title,forCorp,availability,dateIssued,dateExpired,dateAccepted,numDays,dateCompleted,price,reward,collateral,buyout,volume\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-10 23:21:03</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 10 Sep 2015 23:07:02 GMT
recorded_with: VCR 2.9.3
