---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/ContactList.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-09 12:35:49</currentTime>\r\n  <result>\r\n    <rowset
        name=\"contactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID,labelMask,inWatchlist\">\r\n
        \     <row contactID=\"3011819\" contactName=\"Sula Kate\" standing=\"0\"
        contactTypeID=\"1376\" labelMask=\"0\" inWatchlist=\"False\" />\r\n      <row
        contactID=\"3012076\" contactName=\"Koikaski Uika\" standing=\"0\" contactTypeID=\"1376\"
        labelMask=\"0\" inWatchlist=\"False\" />\r\n      <row contactID=\"3013320\"
        contactName=\"Ahmobah Hethiba\" standing=\"0\" contactTypeID=\"1373\" labelMask=\"0\"
        inWatchlist=\"False\" />\r\n      <row contactID=\"3016824\" contactName=\"Okada
        Laah\" standing=\"0\" contactTypeID=\"1376\" labelMask=\"0\" inWatchlist=\"False\"
        />\r\n      <row contactID=\"93273990\" contactName=\"Carl Malus\" standing=\"10\"
        contactTypeID=\"1375\" labelMask=\"0\" inWatchlist=\"True\" />\r\n      <row
        contactID=\"810699209\" contactName=\"Adrian Dent\" standing=\"10\" contactTypeID=\"1375\"
        labelMask=\"0\" inWatchlist=\"True\" />\r\n    </rowset>\r\n    <rowset name=\"contactLabels\"
        key=\"labelID\" columns=\"name\" />\r\n    <rowset name=\"corporateContactList\"
        key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID,labelMask\"
        />\r\n    <rowset name=\"corporateContactLabels\" key=\"labelID\" columns=\"name\"
        />\r\n    <rowset name=\"allianceContactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID,labelMask\"
        />\r\n    <rowset name=\"allianceContactLabels\" key=\"labelID\" columns=\"name\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-09 12:42:15</cachedUntil>\r\n</eveapi>"
  recorded_at: Wed, 09 Sep 2015 12:35:49 GMT
recorded_with: VCR 2.9.3
