---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/AssetList.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-10 20:27:27</currentTime>\r\n  <result>\r\n    <rowset
        name=\"assets\" key=\"itemID\" columns=\"itemID,locationID,typeID,quantity,flag,singleton\">\r\n
        \     <row itemID=\"1017893173936\" locationID=\"60003760\" typeID=\"596\"
        quantity=\"1\" flag=\"4\" singleton=\"1\" rawQuantity=\"-1\">\r\n        <rowset
        name=\"contents\" key=\"itemID\" columns=\"itemID,typeID,quantity,flag,singleton\">\r\n
        \         <row itemID=\"1017893173939\" typeID=\"3634\" quantity=\"1\" flag=\"27\"
        singleton=\"1\" rawQuantity=\"-1\" />\r\n          <row itemID=\"1017893173941\"
        typeID=\"3651\" quantity=\"1\" flag=\"28\" singleton=\"1\" rawQ[...]
