---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/ContactList.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:11</currentTime>\r\n  <result>\r\n    <rowset
        name=\"contactList\" key=\"contactID\" columns=\"contactID,contactName,standing,contactTypeID,labelMask,inWatchlist\">\r\n
        \     <row contactID=\"3009988\" contactName=\"Navittus Sildbena\" standing=\"0\"
        contactTypeID=\"1380\" labelMask=\"0\" inWatchlist=\"False\" />\r\n      <row
        contactID=\"3009993\" contactName=\"Sildebetur Aredeborg\" standing=\"0\"
        contactTypeID=\"1380\" labelMask=\"0\" inWatchlist=\"False\" />\r\n      <row
        contactID=\"3010112\" contactName=\"Lulmuna Eilirmuald\" standing=\"0\" contactTypeID=\"1380\"
        labelMask=\"0\" inWatchlist=\"False\" />\r\n      <row contactID[...]
