---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailingLists.xml.aspx?characterID=95512059&keyID=4278167&vCode=7QJg6p5BZNpDBp2FIz39dGwa7jnNaXAuYyLUVitlTQ3rY60VPBcaTpJVfYIkiW5l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 23:38:26</currentTime>\r\n  <result>\r\n    <rowset
        name=\"mailingLists\" key=\"listID\" columns=\"listID,displayName\" />\r\n
        \ </result>\r\n  <cachedUntil>2015-09-09 05:35:26</cachedUntil>\r\n</eveapi>"
  recorded_at: Tue, 08 Sep 2015 23:38:26 GMT
recorded_with: VCR 2.9.3
