---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillQueue.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:09</currentTime>\r\n  <result>\r\n    <rowset
        name=\"skillqueue\" key=\"queuePosition\" columns=\"queuePosition,typeID,level,startSP,endSP,startTime,endTime\">\r\n
        \     <row queuePosition=\"0\" typeID=\"3412\" level=\"5\" startSP=\"135765\"
        endSP=\"768000\" startTime=\"2015-09-07 23:51:45\" endTime=\"2015-09-20 04:33:50\"
        />\r\n      <row queuePosition=\"1\" typeID=\"30552\" level=\"5\" startSP=\"97381\"
        endSP=\"256000\" startTime=\"2015-09-20 04:33:50\" endTime=\"2015-09-23 04:01:50\"
        />\r\n      <row queuePosition=\"2\" typeID=\"20212\" level=\"5\" startSP=\"729135\"
        endSP=\"2048000\" startTime=\"2015-09-23 04:01:50\" endTim[...]
