---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/WalletTransactions.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:08</currentTime>\r\n  <result>\r\n    <rowset
        name=\"transactions\" key=\"transactionID\" columns=\"transactionDateTime,transactionID,quantity,typeName,typeID,price,clientID,clientName,stationID,stationName,transactionType,transactionFor,journalTransactionID,clientTypeID\">\r\n
        \     <row transactionDateTime=\"2015-09-07 23:56:07\" transactionID=\"4057140173\"
        quantity=\"1\" typeName=\"EM Ward Field II\" typeID=\"2301\" price=\"1489366.18\"
        clientID=\"95426485\" clientName=\"KillerTrader\" stationID=\"60003760\" stationName=\"Jita
        IV - Moon 4 - Caldari Navy Assembly Plant\" transactionType=\"buy\" transactionFor=\"personal\"
        journalTransactionID=\"11632325571\" clientTypeID=\"1377\" />\r\n      <row
        transactionDateTime=\"2015-09-07 23:53:43[...]
