---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Research.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-10 20:27:22</currentTime>\r\n  <result>\r\n    <rowset
        name=\"research\" key=\"agentID\" columns=\"agentID,skillTypeID,researchStartDate,pointsPerDay,remainderPoints\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-10 20:42:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 10 Sep 2015 20:27:22 GMT
recorded_with: VCR 2.9.3
