---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/CharacterSheet.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:11</currentTime>\r\n  <result>\r\n    <characterID>810699209</characterID>\r\n
        \   <name>Adrian Dent</name>\r\n    <homeStationID>61000921</homeStationID>\r\n
        \   <DoB>2006-09-10 22:49:00</DoB>\r\n    <race>Caldari</race>\r\n    <bloodLineID>2</bloodLineID>\r\n
        \   <bloodLine>Civire</bloodLine>\r\n    <ancestryID>8</ancestryID>\r\n    <ancestry>Mercs</ancestry>\r\n
        \   <gender>Male</gender>\r\n    <corporationName>Caldari Provisions</corporationName>\r\n
        \   <corporationID>1000009</corporationID>\r\n    <cloneTypeID>164</cloneTypeID>\r\n
        \   <cloneName>Clone Grade Alpha</cloneName>\r\n    <cloneSkillPoints>0</cloneSkillPoints>\r\n
        \   <freeSkillPoints>0</freeSkillPoints>\r\n    <freeRespecs>0</freeRespecs>\r\n
        \   <cloneJumpDate>2015-04-04 20:48:48</cloneJumpDate>\r\n    <lastRespecDate>2015-02-07
        09:51:16</lastRespecDate>\r\n    <lastTimedRespec>2015-01-26 17:00:17</lastTimedRespec>\r\n
        \   <remoteStationDate>2015-01-05 22:37:44</remoteStationDate>\r\n    <rowset
        name=\"jumpClones\" key=\"jumpCloneID\" columns=\"jumpCloneID,typeID,locationID,cloneName\">\r\n
        \     <row jumpCloneID=\"21454032\" typeID=\"164\" locationID=\"60003760\"
        cloneName=\"\" />\r\n      <row jumpCloneID=\"19071605\" typeID=\"164\" locationID=\"60012562\"
        cloneName=\"\" />\r\n      <row jumpCloneID=\"19943660\" typeID=\"164\" locationID=\"61000422\"
        cloneName=\"\" />\r\n      <row jumpCloneID=\"21736576\" typeID=\"164\" locationID=\"61000921\"
        cloneName=\"\" />\r\n    </rowset>\r\n    <rowset name=\"jumpCloneImplants\"
        key=\"jumpCloneID\" columns=\"jumpCloneID,typeID,typeName\">\r\n      <row
        jumpCloneID=\"21454032\" typeID=\"10209\" typeName=\"Memory Augmentation -
        Improved\" />\r\n      <row jumpCloneID=\"21454032\" typeID=\"10213\" typeName=\"Neural
        Boost - Improved\" />\r\n      <row jumpCloneID=\"21454032\" typeID=\"10217\"
        typeName=\"Ocular Filter - Improved\" />\r\n      <row jumpCloneID=\"19943660\"
        typeID=\"2082\" typeName=\"Genolution Core Augmentation CA-1\" />\r\n      <row
        jumpCloneID=\"19943660\" typeID=\"2589\" typeName=\"Genolution Core Augmentation
        CA-2\" />\r\n    </rowset>\r\n    <jumpActivation>2015-04-04 21:41:49</jumpActivation>\r\n
        \   <jumpFatigue>2015-04-05 05:34:07</jumpFatigue>\r\n    <jumpLastUpdate>2015-04-04
        21:31:28</jumpLastUpdate>\r\n    <balance>16489278276.04</balance>\r\n    <rowset
        name=\"implants\" key=\"typeID\" columns=\"typeID,typeName\">\r\n      <row
        typeID=\"9943\" typeName=\"Cybernetic Subprocessor - Basic\" />\r\n      <row
        typeID=\"10209\" typeName=\"Memory Augmentation - Improved\" />\r\n      <row
        typeID=\"10213\" typeName=\"Neural Boost - Improved\" />\r\n      <row typeID=\"10217\"
        typeName=\"Ocular Filter - Improved\" />\r\n    </rowset>\r\n    <attributes>\r\n
        \     <intelligence>17</intelligence>\r\n      <memory>27</memory>\r\n      <charisma>17</charisma>\r\n
        \     <perception>21</perception>\r\n      <willpower>17</willpower>\r\n    </attributes>\r\n
        \   <rowset name=\"skills\" key=\"typeID\" columns=\"typeID,skillpoints,level,published\">\r\n
        \     <row typeID=\"3442\" skillpoints=\"1280000\" level=\"5\" published=\"1\"
        />\r\n      <row typeID=\"3432\" skillpoints=\"512000\" level=\"5\" published=\"1\"
        />\r\n      <row typeID=\"3342\" skillpoints=\"32000\" level=\"3\" published=\"1\"
        />\r\n      <row typeID=\"3436\" skillpoints=\"256000\" level=\"5\" published=\[...]
