---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/AssetList.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:12</currentTime>\r\n  <result>\r\n    <rowset
        name=\"assets\" key=\"itemID\" columns=\"itemID,locationID,typeID,quantity,flag,singleton\">\r\n
        \     <row itemID=\"1011524059136\" locationID=\"60000457\" typeID=\"672\"
        quantity=\"1\" flag=\"4\" singleton=\"1\" rawQuantity=\"-1\" />\r\n      <row
        itemID=\"1011941155873\" locationID=\"60000526\" typeID=\"672\" quantity=\"1\"
        flag=\"4\" singleton=\"1\" rawQuantity=\"-1\" />\r\n      <row itemID=\"1014181209854\"
        locationID=\"60000607\" typeID=\"11134\" quantity=\"1\" flag=\"4\" singleton=\"1\"
        rawQuantity=\"-1\" />\r\n      <row itemID=\"1012417871414\" locatio[...]
