---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/SkillInTraining.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-09 12:35:47</currentTime>\r\n  <result>\r\n    <currentTQTime
        offset=\"0\">2015-09-09 12:35:47</currentTQTime>\r\n    <skillInTraining>0</skillInTraining>\r\n
        \ </result>\r\n  <cachedUntil>2015-09-09 13:32:47</cachedUntil>\r\n</eveapi>"
  recorded_at: Wed, 09 Sep 2015 12:35:47 GMT
recorded_with: VCR 2.9.3
