---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Medals.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-10 23:07:06</currentTime>\r\n  <result>\r\n    <rowset
        name=\"currentCorporation\" key=\"medalID\" columns=\"medalID,reason,status,issuerID,issued\"
        />\r\n    <rowset name=\"otherCorporations\" key=\"medalID\" columns=\"medalID,reason,status,issuerID,issued,corporationID,title,description\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-11 02:24:22</cachedUntil>\r\n</eveapi>"
  recorded_at: Thu, 10 Sep 2015 23:07:05 GMT
recorded_with: VCR 2.9.3
