---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Contracts.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:08</currentTime>\r\n  <result>\r\n    <rowset
        name=\"contractList\" key=\"contractID\" columns=\"contractID,issuerID,issuerCorpID,assigneeID,acceptorID,startStationID,endStationID,type,status,title,forCorp,availability,dateIssued,dateExpired,dateAccepted,numDays,dateCompleted,price,reward,collateral,buyout,volume\"
        />\r\n  </result>\r\n  <cachedUntil>2015-09-08 06:52:16</cachedUntil>\r\n</eveapi>"
  recorded_at: Tue, 08 Sep 2015 06:52:08 GMT
recorded_with: VCR 2.9.3
