---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/WalletJournal.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:08</currentTime>\r\n  <result>\r\n    <rowset
        name=\"transactions\" key=\"refID\" columns=\"date,refID,refTypeID,ownerName1,ownerID1,ownerName2,ownerID2,argName1,argID1,amount,balance,reason,taxReceiverID,taxAmount,owner1TypeID,owner2TypeID\">\r\n
        \     <row date=\"2015-09-07 23:56:07\" refID=\"11632325571\" refTypeID=\"42\"
        ownerName1=\"Adrian Dent\" ownerID1=\"810699209\" ownerName2=\"\" ownerID2=\"0\"
        argName1=\"\" argID1=\"0\" amount=\"-1489366.18\" balance=\"16489278276.04\"
        reason=\"\" taxReceiverID=\"\" taxAmount=\"\" owner1TypeID=\"2\" owner2TypeID=\"1375\"
        />\r\n      <row date=\"2015-09-07 23:53:43\" refID=\"11632318980\" refTypeID=\"42\"
        ownerName1=\"Adrian Dent\" ownerID1=\"810699209\" ownerName2=\[...]
