---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/AccountBalance.xml.aspx?characterID=95512059&keyID=4278167&vCode=7QJg6p5BZNpDBp2FIz39dGwa7jnNaXAuYyLUVitlTQ3rY60VPBcaTpJVfYIkiW5l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 23:52:47</currentTime>\r\n  <result>\r\n    <rowset
        name=\"accounts\" key=\"accountID\" columns=\"accountID,accountKey,balance\">\r\n
        \     <row accountID=\"69081883\" accountKey=\"1000\" balance=\"0.01\" />\r\n
        \   </rowset>\r\n  </result>\r\n  <cachedUntil>2015-09-08 23:53:23</cachedUntil>\r\n</eveapi>"
  recorded_at: Tue, 08 Sep 2015 23:52:48 GMT
recorded_with: VCR 2.9.3
