---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/MailMessages.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:10</currentTime>\r\n  <result>\r\n    <rowset
        name=\"messages\" key=\"messageID\" columns=\"messageID,senderID,senderName,sentDate,title,toCorpOrAllianceID,toCharacterIDs,toListID\">\r\n
        \     <row messageID=\"348986139\" senderID=\"95463896\" senderName=\"Scar
        Tripitika\" sentDate=\"2015-04-07 22:23:00\" title=\"CURRENT NEUTS\" toCorpOrAllianceID=\"98356422\"
        toCharacterIDs=\"\" toListID=\"\" senderTypeID=\"1384\" />\r\n      <row messageID=\"348997113\"
        senderID=\"1481529910\" senderName=\"TyLei JinMei\" sentDate=\"2015-04-08
        06:14:00\" title=\"MAZES FOR SALE!!!\" toCorpOrAllianceID=\"98356422\" toCharacterIDs=\"\"
        toListID=\"\" senderTypeID=\"1384[...]
