---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Standings.xml.aspx?characterID=95512059&keyID=4278167&vCode=supersecretstuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-09 12:35:47</currentTime>\r\n  <result>\r\n    <characterNPCStandings>\r\n
        \     <rowset name=\"agents\" key=\"fromID\" columns=\"fromID,fromName,standing\">\r\n
        \       <row fromID=\"3012076\" fromName=\"Koikaski Uika\" standing=\"-0.67\"
        />\r\n        <row fromID=\"3013320\" fromName=\"Ahmobah Hethiba\" standing=\"-0.34\"
        />\r\n        <row fromID=\"3016824\" fromName=\"Okada Laah\" standing=\"-0.40\"
        />\r\n      </rowset>\r\n      <rowset name=\"NPCCorporations\" key=\"fromID\"
        columns=\"fromID,fromName,standing\">\r\n        <row fromID=\"1000035\" fromName=\"Caldari
        Navy\" standing=\"-0.09\" />\r\n        <row fromID=\"1000075\" fromName=\"Nurtura\"
        standing=\"-0.04\" />\r\n      </rowset>\r\n      <rowset name=\"factions\"
        key=\"fromID\" columns=\"fromID,fromName,standing\">\r\n        <row fromID=\"500001\"
        fromName=\"Caldari State\" standing=\"0.00\" />\r\n        <row fromID=\"500003\"
        fromName=\"Amarr Empire\" standing=\"0.00\" />\r\n        <row fromID=\"500007\"
        fromName=\"Ammatar Mandate\" standing=\"0.00\" />\r\n        <row fromID=\"500008\"
        fromName=\"Khanid Kingdom\" standing=\"0.00\" />\r\n        <row fromID=\"500013\"
        fromName=\"The InterBus\" standing=\"0.00\" />\r\n        <row fromID=\"500018\"
        fromName=\"Mordu's Legion Command\" standing=\"0.00\" />\r\n      </rowset>\r\n
        \   </characterNPCStandings>\r\n  </result>\r\n  <cachedUntil>2015-09-09 14:33:08</cachedUntil>\r\n</eveapi>"
  recorded_at: Wed, 09 Sep 2015 12:35:47 GMT
recorded_with: VCR 2.9.3
