---
http_interactions:
- request:
    method: get
    uri: https://api.eveonline.com/char/Standings.xml.aspx?characterID=810699209&keyID=2139278&vCode=BLG8R4woo0iG9zCnSS6mXzjrjp68DQlQhUbI2TG3J9VBF5Q8XkvNjm4QvrMtEdDJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?>\r\n<eveapi version=\"2\">\r\n
        \ <currentTime>2015-09-08 06:52:08</currentTime>\r\n  <result>\r\n    <characterNPCStandings>\r\n
        \     <rowset name=\"agents\" key=\"fromID\" columns=\"fromID,fromName,standing\">\r\n
        \       <row fromID=\"3010112\" fromName=\"Lulmuna Eilirmuald\" standing=\"0.11\"
        />\r\n        <row fromID=\"3010115\" fromName=\"Imulia Aeduin\" standing=\"5.18\"
        />\r\n        <row fromID=\"3010118\" fromName=\"Beomilar Brettirdur\" standing=\"3.25\"
        />\r\n        <row fromID=\"3010119\" fromName=\"Avren Atune\" standing=\"0.41\"
        />\r\n        <row fromID=\"3010137\" fromName=\"Balmires Agrelins\" standing=\"5.58\"
        />\r\n        <row fromID=\"3010167\" fromName=\"Me[...]
